<div class="mt-4">
    <div class="container">
        <h4>CREATE NEW COURSE</h4>
        <form method="POST" action="/courses/store">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="" placeholder="Enter name of course">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input name="description" type="text" class="form-control" id=""
                    placeholder="Enter description of course">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Image</label>
                <input name="image" type="text" class="form-control" id="" placeholder="Enter image of course">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Video ID</label>
                <input name="videoID" type="text" class="form-control" id="" placeholder="Enter video ID of course">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>